@import "tailwindcss";
h1 {
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-align: center;
}
h2{
  font-size:27px;
  color: black;
  font-weight: 650;
  margin-top: 10px;
}
h3{
  font-size:16px;
  color: black;
  font-weight: 650;
  margin-top: 20px;
}
h4{
  font-size: 45px;
  font-weight: bold;
  color: black;
  text-align: center;
}
h5{
  font-size: 22px;
  font-weight: bold;
}
h6{
  font-size:18px;
  color: rgb(97, 96, 96);
  font-weight: 400;
  margin-top: 20px;  
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
ul{
    list-style-type: disc;
    padding-left: 1.25rem;
}
ol{
    list-style-type: decimal;
    padding-left: 1.25rem;
}